a[id][href^='#'] {
  transition: background-color 1s;
  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  color: inherit;
  text-decoration: none;
}

a[id][href^='#']:hover {
  background: inherit;
}

a[id][href^='#']:hover:after {
  opacity: 0.5;
  content: ' #';
}

a.highlight[id][href^='#'] {
  background: yellow;
}
